body {
    display: grid;
    grid-template-rows: 1fr 8fr;
    grid-template-columns: 1fr;
    padding: 0 20%;
    height: 100dvh;
    margin: 0;

    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 10px;
}

#content {
    display: flex;
    flex-direction: column;
}